<div>
  {{!-- Definiting the click function for the action defined in the Component --}}
  <h3 class="list-header" {{action "toggleListDetail"}}>Title: {{list.title}}</h3>
  <ul>
    {{#each list.items as |item|}}
      {{listr-list/item item=item}}
    {{/each}}
  </ul>
</div>
